<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
    <mat-card class="center width50">
        <form novalidate autocomplete="off" [formGroup]="cadastro" (ngSubmit)="submit()" (ngReset)="reniciarForm()">
            <mat-card-content>
                <dio-input-text titulo="Título *" controlName="titulo" [formGroup]="cadastro"></dio-input-text>
                <dio-input-text titulo="Link Foto" controlName="urlFoto" [formGroup]="cadastro"></dio-input-text>
                <dio-input-date titulo="Data de Lançamento *" controlName="dtLancamento" [formGroup]="cadastro">
                </dio-input-date>
                <dio-input-textarea [formGroup]="cadastro" titulo="Descrição" controlName="descricao">
                </dio-input-textarea>
                <dio-input-number titulo="Nota IMDb *" controlName="nota" step="0.1" [formGroup]="cadastro">
                </dio-input-number>
                <dio-input-text titulo="Link IMDb" controlName="urlIMDB" [formGroup]="cadastro"></dio-input-text>
                <dio-input-select titulo="Gênero *" controlName="select" [opcoes]="opcoes" [formGroup]="cadastro">
                </dio-input-select>
            </mat-card-content>
            <mat-card-actions>
                <button type="submit" color="accent" mat-raised-button>Salvar</button>
                <button type="reset" color="warn" mat-raised-button>Cancelar</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>

<container>
    <div class="hello" style="display: flex; flex-flow: row wrap;">
        <p class="tet">Ola mundo</p>
        <p class="">teste</p>
    </div>
</container>
